
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", serif;
}

html, body {
  height: 100%;
  background: #858f96;
}

header {

  background: red;
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

  $space_padd:5px;
  padding-top : $space_padd;
  padding-bottom : $space_padd;

  .logo-container {
    display: inline-block;
  }

  nav {
    background: blueviolet;
    float: right;
    width: 75%;
    display: flex;

    ul {

      width: 100%;
      background: pink;
      display: flex;
      justify-content: space-evenly;

      li {

        list-style-type: none;
        text-decoration: underline;
        font-weight: bold;

      }

    }
  }

}

$color_border : #0000FF ;

main {

  margin-top: 30px;
  display: flex;
  height: 100%;

  &>section {

    padding: 5px;

    .target-menu {
      background:$color_border ;
      $space_padd:5px;
      padding-left: $space_padd;
      padding-right: $space_padd;
    }

  }

  .last-actus {

    $space_padd:5%;
    padding-left: $space_padd ;
    padding-right: $space_padd ;

    img {
      width: 100%;
    }

    .actu {
      padding: 10px;
      margin-bottom: 5px;
    }

    #actus-mada {
      .actu {
        border: solid 1px $color_border;
      }
    }

    #actus-outside {
        border: solid 1px $color_border;
    }

  }

  .sidebar {

    width: 90%;
    position: relative;
    &>.sidebar-wrapper {

      position: fixed;
      .info {

        padding: 10px;
        margin-bottom: 5px;

        .description ul {
          list-style-type: circle;
          padding: 10px;
          li {
            margin-left: 15px;
          }

        }
      }

    }



  }

}

.actu{
  &:nth-child(2n) {
    background: green;
  }
  &:nth-child(2n+1) {
    background: limegreen;
  }
}

.info{

  &:nth-child(2n) {
    background: deepskyblue;
  }
  &:nth-child(2n+1) {
    background: aquamarine;
  }
}